/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
#mapid {
	height: 500px;
	width: 75%;
	margin: auto;
}

body {
	background: rgb(215, 215, 215);
}

#plot_div {
	background: grey;
	width: auto;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

#plot {
	margin: 40px;
	width: 33%;
	height: 330px;
}